#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 4;
}
* 
#settings {
	z-index: 10;
    width: 683px; 
    height: 400px; 
    background-color: black; 
    position: fixed; 
    left: 340px; 
    border-radius: 20px; 
    border: 2px solid #00BBED;
}.SettingsTitle {
 position: relative;
 left: 26px;
    font-family: Consolas; 
    text-align: center; 
    color: #00BBED;
}
#CloakForm {
    background-color: black;
    border-radius: 20px;
    border: 1px solid #00BBED;
    color: #00BBED;
   }
   #settingToggle {
    width: 50px;
    position: relative; 
    top: -10px;
    border-radius: 50px;
   }
   #settingToggle:hover {
    animation: glow 2s linear infinite alternate;
   }
   .CloakInput {
    margin: 4px;
    width: 80px;
    border: 1px solid #00BBED;
    background-color: black;
    color: #00BBED;
    border-radius: 20px;
   } 
.methodbttn {
    font-family: Poppins;
    border: 1px solid #00BEED;
    color: #00BEED;
	font-size: 15px;
    background-color: #000000;
    border-radius: 10px; 
    height: 50px; 
    width: 100px; 
    position: relative; 
    top: 25px;
}
.methodbttn:hover {
    -webkit-animation: glow 5s linear infinite;
  -moz-animation: glow 5s linear infinite;
  animation: glow 5s linear infinite;
}
.methods {
text-align: center;
}
 .newsdiv {
  margin: auto;
   height: 200px;
   border: 1px solid #00BEED;
	border-radius: 40px;
    width: 800px;
  }
 .newsdiv:hover {
    -webkit-animation: glow 5s linear infinite;
  -moz-animation: glow 5s linear infinite;
  animation: glow 5s linear infinite;
  }
.newslink {
	text-decoration: none;
}
  .newsimg {
 float: left;
 height: 200px;
 width: 200px;
 border: 1px solid #00BEED;
 border-bottom-left-radius: 40px;
 border-top-left-radius: 40px;
  }
  .newstxt {
  margin-left: 230px;
  font-family: Poppins;
  -webkit-text-stroke: 0.1px #00BBED;
  }
body {
  margin: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}
.title {
  font-family: Poppins;
  -webkit-text-stroke: 0.1px #FFFFFF;
  font-size: 80px;
  text-align: center;
}
.sentence {
  font-family: Poppins;
  -webkit-text-stroke: 0.01px #FFFFFF;
  font-size: 20px;
  text-align: center
}
#srchbar {
border-radius: 15px;
font-family: Poppins;
text-align: center;
border-color: #00BBED;
color: white;
width: 300px;
height: 20px;
  background-color: black;
}
#srchbar:focus {
    outline: none !important;
    border-color: #0093ba;
    animation: glow 5s linear infinite;
  }
#particles-js {
 z-index: -1;
 top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url();
  background-repeat: repeat;
  background-size: cover;
  background-position: 100% 100%;
}
#closebttn{
  position: absolute;
  border-radius: 10px;
  top: 60%;
  left: 50%;
  font-size: 25px;
  color: black;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
   cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
ul {
  z-index: 3;
  background-color: rgba(0, 0, 0, 1);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0px;
  width: 100%
}

li {
  z-index: 3;
  float: left;
}

li a {
  z-index: 3;
  font-family: Poppins;
  display: block;
  color: #00BBED;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  z-index: 3;
    -webkit-animation: glowactive 5s linear infinite;
  -moz-animation: glowactive 5s linear infinite;
  animation: glowactive 5s linear infinite ;
  -webkit-text-stroke: 0.8px #00BBED;

  \
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000; 
}
 
::-webkit-scrollbar-thumb {
  background: #00BBED; 
  border-radius: 1000px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0081a3;
  -webkit-animation: glow 5s linear infinite alternate;
  -moz-animation: glow 5s linear infinite alternate;
  animation: glow 5s linear infinite alternate;
}
.container {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: rgba(43, 43, 43, 0);
    /* box-shadow: 0 0 50px 0 rgba(8, 146, 208, 0.7); */
    z-index: 1;
    overflow: show;
}

.active {
    -webkit-animation: glowactive 5s linear infinite;
  -moz-animation: glowactive 5s linear infinite;
  animation: glowactive 5s linear infinite;
color: #ffffff;
  border-radius: 100px;
  height: 75%;
  text-shadow: 0 0 10px #00BBED;
}
@keyframes glowactive {
  from {
    text-shadow: 0 0 10px #0062ff, 0 0 10px #0062ff, 0 0 10px #000000, 0 0 10px #000000, 
                 0 0 10px #000000, 0 0 10px #1ba82b, 0 0 10px #1ba82b, 0 0 10px #0062ff, 0 0 10px #0062ff;
  }
  to {
    text-shadow: 0 0 10px #1ba82b, 0 0 10px #1ba82b, 0 0 10px #000000, 0 0 10px #ff4da6, 
                 0 0 10px #000000, 0 0 10px #0062ff, 0 0 10px #0062ff, 0 0 10px #0062ff, 0 0 10px #0062ff;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #0062ff, 0 0 20px #0062ff, 0 0 30px #000000, 0 0 40px #000000, 
                 0 0 50px #000000, 0 0 40px #1ba82b, 0 0 30px #1ba82b, 0 0 20px #0062ff, 0 0 10px #0062ff;
  }
  to {
    box-shadow: 0 0 50px #1ba82b, 0 0 40px #1ba82b, 0 0 30px #000000, 0 0 20px #ff4da6, 
                 0 0 10px #000000, 0 0 20px #0062ff, 0 0 30px #0062ff, 0 0 40px #0062ff, 0 0 50px #0062ff;
  }
}
